{% extends "wcod_base.html" %}

{% block submenu_items %}
<li class="wcod-submenu-item">
    <a href="/wcod-country-overview" class="wcod-submenu-link active">Country Overview</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-country-profile" class="wcod-submenu-link">Country Profile</a>
</li>
{% endblock %}

{% block wcod_content %}
<iframe 
    src="/wcod/" 
    style="width: 100%; height: 100vh; border: none; min-height: 800px;"
    title="World Crude Oil Data Dashboard">
</iframe>
{% endblock %}