{% extends "wcod_base.html" %}

{% block submenu_items %}
<li class="wcod-submenu-item">
    <a href="/wcod/crude-overview" class="wcod-submenu-link active">Crude Overview</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-profile" class="wcod-submenu-link">Crude Profile</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-comparison" class="wcod-submenu-link">Crude Comparison</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-quality-comparison" class="wcod-submenu-link">Crude Quality Comparison</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-carbon-intensity" class="wcod-submenu-link">Crude Carbon Intensity</a>
</li>
{% endblock %}

{% block wcod_content %}
<div id="dash-container"></div>
<script>
    const dashFrame = document.createElement('iframe');
    dashFrame.src = '/wcod/_dash-layout';
    dashFrame.style.width = '100%';
    dashFrame.style.height = '800px';
    dashFrame.style.border = 'none';
    document.getElementById('dash-container').appendChild(dashFrame);
</script>
{% endblock %}

