{% extends "wcod_base.html" %}

{% block submenu_items %}
<li class="wcod-submenu-item">
    <a href="/wcod/crude-overview" class="wcod-submenu-link">Crude Overview</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-profile" class="wcod-submenu-link">Crude Profile</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-comparison" class="wcod-submenu-link active">Crude Comparison</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-quality-comparison" class="wcod-submenu-link">Crude Quality Comparison</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-crude-carbon-intensity" class="wcod-submenu-link">Crude Carbon Intensity</a>
</li>
{% endblock %}

{% block wcod_content %}
<!-- Dash content will be injected here by Flask -->
<div id="dash-container">
    {{ dash_content | safe }}
</div>
{% endblock %}