{% extends "wcod_base.html" %}

{% block submenu_items %}
<li class="wcod-submenu-item">
    <a href="/wcod/trade/imports-country-detail" class="wcod-submenu-link">Imports - Country Detail</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod/trade/imports-country-comparison" class="wcod-submenu-link">Imports - Country Comparison</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod/trade/global-exports" class="wcod-submenu-link active">Global Exports</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod/trade/russian-exports-by-terminal-and-exporting-company" class="wcod-submenu-link">Russian Exports by Terminal and Exporting Company</a>
</li>
{% endblock %}

{% block wcod_content %}
<div id="dash-container"></div>
<script>
    const dashFrame = document.createElement('iframe');
    dashFrame.src = '/wcod/_dash-layout';
    dashFrame.style.width = '100%';
    dashFrame.style.height = '800px';
    dashFrame.style.border = 'none';
    document.getElementById('dash-container').appendChild(dashFrame);
</script>
{% endblock %}

