{% extends "wcod_base.html" %}

{% block submenu_items %}
<li class="wcod-submenu-item">
    <a href="/wcod/prices/global-crude-prices" class="wcod-submenu-link">Global Crude Prices</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod/prices/price-scorecard-for-key-world-oil-grades" class="wcod-submenu-link">Price Scorecard for Key World Oil Grades</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod/prices/gross-product-worth-and-margins" class="wcod-submenu-link active">Gross Product Worth and Margins</a>
</li>
{% endblock %}

{% block wcod_content %}
<div id="dash-container"></div>
<script>
    const dashFrame = document.createElement('iframe');
    dashFrame.src = '/wcod/_dash-layout';
    dashFrame.style.width = '100%';
    dashFrame.style.height = '800px';
    dashFrame.style.border = 'none';
    document.getElementById('dash-container').appendChild(dashFrame);
</script>
{% endblock %}

