{% extends "wcod_base.html" %}

{% block submenu_items %}
<li class="wcod-submenu-item">
    <a href="/wcod/upstream-projects/projects-by-country" class="wcod-submenu-link active">Projects by Country</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod/upstream-projects/projects-by-company" class="wcod-submenu-link">Projects by Company</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod/upstream-projects/projects-by-time" class="wcod-submenu-link">Projects by Time</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-upstream-projects/projects-by-status" class="wcod-submenu-link">Projects by Status</a>
</li>
<li class="wcod-submenu-item">
    <a href="/wcod-upstream-projects-related-articles" class="wcod-submenu-link">Latest Updates</a>
</li>
{% endblock %}

{% block wcod_content %}
<div id="dash-container"></div>
<script>
    const dashFrame = document.createElement('iframe');
    dashFrame.src = '/wcod/_dash-layout';
    dashFrame.style.width = '100%';
    dashFrame.style.height = '800px';
    dashFrame.style.border = 'none';
    document.getElementById('dash-container').appendChild(dashFrame);
</script>
{% endblock %}

